java/Oracle_JDK-24/bin/awt.dll
java/Oracle_JDK-24/bin/extnet.dll
java/Oracle_JDK-24/bin/fontmanager.dll
java/Oracle_JDK-24/bin/freetype.dll
java/Oracle_JDK-24/bin/java.dll
java/Oracle_JDK-24/bin/jimage.dll
java/Oracle_JDK-24/bin/jsvml.dll
java/Oracle_JDK-24/bin/management_ext.dll
java/Oracle_JDK-24/bin/management.dll
java/Oracle_JDK-24/bin/msvcp140.dll
java/Oracle_JDK-24/bin/net.dll
java/Oracle_JDK-24/bin/nio.dll
java/Oracle_JDK-24/bin/splashscreen.dll
java/Oracle_JDK-24/bin/vcruntime140_1.dll
java/Oracle_JDK-24/bin/vcruntime140.dll
java/Oracle_JDK-24/bin/verify.dll
java/Oracle_JDK-24/bin/zip.dll
java/Oracle_JDK-24/bin/server/jvm.dll
java/Oracle_JDK-24/lib/jrt-fs.jar
java/Oracle_JDK-24/lib/modules
